<img alt="Photo of a Shiba Inu" mat-card-image
     src="https://material.angular.io/assets/img/examples/shiba2.jpg">
<div class="screen-content">
  <h1 class="item-title">{{trackInfo.title}}</h1>
  <span class="item-info">{{trackInfo.properties.length}} - {{trackInfo.properties.type}}
    - {{trackInfo.properties.duration}}</span>

  <mat-grid-list class="path-info" cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <div class="item">
        <img src="assets/images/distance.png"/>
        <br/>
        <span class="label">{{trackInfo.properties.length}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="item">
        <img src="assets/images/clock.png"/>
        <br/>
        <span class="label">{{trackInfo.properties.duration}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="item">
        <img src="assets/images/circular.png"/>
        <br/>
        <span class="label">{{trackInfo.properties.type}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="item">
        <img alt="Distância" src="assets/images/walk.png"/>
        <br/>
        <span class="label">{{trackInfo.properties.dificulty}}</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>


  <button class="button-right-icon very-wide start-go-path-button" mat-raised-button routerLink="/map/track_1">
    Comerçar percurso

    <mat-icon class="right-icon" color="dark-green">
      chevron_right
    </mat-icon>
  </button>

  <div *ngIf="trackInfo.warning.length > 0" class="warning-message">
    <div class="icon">
      <mat-icon aria-hidden="false" fontIcon="warning"></mat-icon>
    </div>

    <div class="right-float">
      <span class="title">Aviso!</span>
      <span>{{trackInfo.warning}}</span>
    </div>
  </div>
  <hr/>
  {{trackInfo.description}}
  <hr/>

  <span class="category-title">Caracteristicas</span>
  <mat-grid-list class="path-info" cols="4" rowHeight="60px">
    <div *ngFor="let info of trackInfo.characteristics">
      <mat-grid-tile>
        <img src="assets/images/{{info.icon}}"/>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div class="label-column">{{info.title}}</div>
      </mat-grid-tile>
    </div>

  </mat-grid-list>
  <hr/>
  <span class="category-title">Indicações</span>
  <mat-grid-list class="path-info" cols="4" rowHeight="60px">
    <div *ngFor="let info of trackInfo.indications">
      <mat-grid-tile>
        <img src="assets/images/{{info.icon}}.png"/>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div class="label-column">{{info.title}}</div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

